#boxPenjelasan{
    margin-top: 2vw !important;
}

#buttonBack{
   margin-top :1vw !important ;
   margin-left: 27vw !important;
}

#buttonHistory{
    margin-top : 0.2vw 
}

.app{
    background-color: #B2F2B0;
}